body {
  background: #f5f5f5;
}

.text-input {
  border: 1px solid #dbdedf;
  border-radius: 3px;
  font-size: 15px;
  height: 36px;
  padding: 8px 9px 7px;
  box-sizing: border-box;
  color: #313942;
  background: #fff;
}

[contenteditable], input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  outline: 0;
  line-height: 20px;
}

.column-styles {
  font-family: 'PT Sans';
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #dbdedf;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #dadada;
}
.column-styles-text {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'PT Sans';
  vertical-align: baseline;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

.button-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-height: 38px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #2e3640;
  border: 1px solid #dbdedf;
  background: #fcfcfc;
}
.button-input-inner {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.button-input:active {
  transform: translateY(1px);
}
.button-input.button-input_blue {
  border: 1px solid #4077d6;
  background: #4c8bf7;
  color: #fff;
}
.button-input.button-input_blue.outlined {
  color: #4077d6;
  border: 1px solid #4077d6;
  background: #f2f2f2;
}
.button-input.button-input_blue.outlined:hover {
  color: #fff;
  background: #4c8bf7;
  border: 1px solid #4077d6;
}
.button-input.button-input_blue:hover {
  background: #4D85E6;
}
.button-input.button-cancel {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #92989b;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  line-height: 14px;
  vertical-align: middle;
  white-space: nowrap;
  background: 0 0 !important;
  border: 0 !important;
}
.button-input.button-input-disabled {
  cursor: default;
  color: #2e3640;
  opacity: .6;
  border: 1px solid #dbdedf;
  background: #fcfcfc;
}
.button-input.button-input-disabled:active {
  transform: none;
}
.button-input.button-input_white {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  color: #fff;
  background: 0 0;
  border: 1px solid #fff;
  border-bottom-width: 2px;
  height: 37px;
}
.button-input.button-input_gray {
  box-sizing: border-box;
  color: #676e79;
  border: 1px solid #676e79;
  border-radius: 3px;
  background: #f2f2f2;
  cursor: pointer;
}
.button-input.button-input_gray:hover {
  background: #faf8f8;
}
.button-input.button-input_gray.uninstall {
  background: transparent;
  border: none;
}
.button-input.mini {
  font-weight: 400;
  padding: 7px 16px;
}

.control--select {
  position: relative;
  z-index: 10;
  color: #2e3640;
  height: 36px;
}
.control--select--list {
  display: none;
  z-index: 100;
}
.control--select--list.opened {
  display: block;
  width: 100%;
  left: -13px;
  border: 1px solid #d4d5d8;
  background-color: #fff;
  padding-right: 11px;
  height: auto;
  margin-right: -13px;
  border-radius: 3px;
  overflow: auto;
  position: absolute;
  max-height: 211px;
  bottom: auto;
  top: 0;
}
.control--select--list--item {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  padding: 8px 6px 7px 0;
  margin: 0 -11px 0 0;
  overflow: hidden;
  box-sizing: border-box;
}
.control--select--list--item-inner {
  position: relative;
  display: block;
  padding-left: 22px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  z-index: 2;
}
.control--select--list--item.selected {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjciIHZpZXdCb3g9IjAgMCA5IDciPgogIDxwYXRoIGlkPSJmZWVkLXRhc2siIGQ9Ik0yNDkuMDEsMTQ4Ny43M2wtNS44NzgsNi4yOC0wLjEtLjExLTAuMS4xMS0yLjkzOS0zLjE0LDAuNjkzLS43NCwyLjM0OCwyLjUxLDUuMjg2LTUuNjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjQwIC0xNDg3KSIvPgo8L3N2Zz4K) 8px 13px no-repeat;
}
.control--select--button {
  position: relative;
  z-index: 10;
  color: #2e3640;
  height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  outline: 0;
  padding-top: 1px;
  border: 1px solid #d4d5d8;
  border-bottom-width: 2px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #fcfcfc 0%, #f8f8f9 100%);
  padding-right: 25px;
  padding-left: 9px;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
}
.control--select--button::after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  margin-left: 7px;
  right: 12px;
  z-index: 10;
}

.svg-icon-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.svg-icon.add {
  background-size: cover;
}
.svg-icon.add.white {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.82353 0H6.17647V6.17647L0 6.17647V7.82353H6.17647V14H7.82353V7.82353H14V6.17647L7.82353 6.17647V0Z' fill='white'/%3e%3c/svg%3e");
}
.svg-icon.add.black {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.82353 0H6.17647V6.17647L0 6.17647V7.82353H6.17647V14H7.82353V7.82353H14V6.17647L7.82353 6.17647V0Z' fill='%232E3640'/%3e%3c/svg%3e ");
}
.svg-icon.add.blue {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.82353 0H6.17647V6.17647L0 6.17647V7.82353H6.17647V14H7.82353V7.82353H14V6.17647L7.82353 6.17647V0Z' fill='%234C8BF7'/%3e%3c/svg%3e ");
}
.svg-icon.checkbox.active {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-size: cover;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.1998 5.775C20.1998 6.43775 15.5998 13.575 13.0998 17.475C12.5007 18.4096 12.3998 18.775 11.0998 18.775C9.7998 18.775 4.7998 12.675 4.7998 11.675C4.7998 10.675 5.38184 10.375 6.0998 10.375C6.81777 10.375 10.3998 13.175 11.0998 13.175C11.4998 13.175 17.5785 5.18353 18.5998 4.775C19.2998 4.49501 20.1998 5.11226 20.1998 5.775Z' fill='%232E3640'/%3e%3c/svg%3e");
}
.svg-icon.delete {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.09999 0.5C5.76862 0.5 5.49999 0.768629 5.49999 1.1V1.7H10.5V1.1C10.5 0.768629 10.2314 0.5 9.89999 0.5H6.09999Z' fill='%23F26E6E'/%3e%3cpath d='M2.59999 2.3C2.21339 2.3 1.89999 2.6134 1.89999 3V3.7H14.1V3C14.1 2.6134 13.7866 2.3 13.4 2.3H2.59999Z' fill='%23F26E6E'/%3e%3cpath d='M6.69999 4.9L7.29999 12.9H6.09999L5.49999 4.9H6.69999Z' fill='%23F26E6E'/%3e%3cpath d='M8.69999 12.9L9.29999 4.9H10.5L9.89999 12.9H8.69999Z' fill='%23F26E6E'/%3e%3cpath d='M3.29999 4.9H1.89999L2.89999 14.3C2.99999 14.7 3.29999 15.5 4.29999 15.5H11.7C12.7 15.5 13 14.7 13.1 14.3L14.1 4.9H12.7L11.7 14.3H4.29999L3.29999 4.9Z' fill='%23F26E6E'/%3e%3c/svg%3e");
  background-size: cover;
}

.control-checkbox__helper {
  border: 1px solid #dbdedf;
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 3;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.control-checkbox__helper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.control-checkbox__helper input:checked ~ .svg-icon.checkbox.active {
  display: block;
}

.widget_main_info {
  padding: 32px 30px 0;
  margin-bottom: 70px;
}
.widget_main_info__top {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.widget-settings {
  position: relative;
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  min-height: 595px;
  background: #fff;
  max-width: 1000px;
}
.widget-settings__desc-space {
  padding-bottom: 75px;
}
.widget-settings__base-space {
  flex: 0 0 auto;
  width: 360px;
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
  border-right: none;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .widget-settings__base-space {
    width: 300px;
  }
}
.widget-settings_block__descr {
  word-break: break-word;
}
.widget-settings_block__descr li {
  list-style-type: circle;
  margin-left: 17px;
}
.widget-settings_block__img {
  overflow: hidden;
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 6px;
}
.widget-settings_block__img.img {
  width: 100%;
  height: 100%;
}
.widget-settings_block__fields {
  margin-top: 20px;
}
.widget-settings_block__controls {
  margin-top: 20px;
}
.widget-settings__head {
  display: flex;
  flex-direction: column;
}
.widget-settings__name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 38px;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 19px;
  word-break: break-word;
  white-space: unset;
  font-weight: 700;
}
.widget-settings__developer {
  color: #979797;
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
}
.widget-settings__command-plate {
  display: flex;
  align-items: baseline;
  min-height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.widget-settings__buttons-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.widget-settings__wrap-desc-space {
  position: relative;
  padding-bottom: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 30px 57px;
  border: 1px solid #e4e4e4;
  overflow: auto;
}
.widget-additional-info {
  padding: 0 30px 27px;
  position: relative;
}
.widget-additional-info__review {
  margin-bottom: 21px;
}
.widget-additional-info__review-list {
  max-height: 60px;
  overflow: hidden;
  position: relative;
  max-height: none;
  margin-left: -3px;
}
.widget-additional-info__review-info {
  display: flex;
  flex-direction: column;
  padding-left: 3px;
}
.widget-additional-info__review-rating {
  display: flex;
  color: #2e3640;
  margin-bottom: 4px;
  align-items: center;
}
.widget-additional-info__review-rating-count {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: -3px;
}
.widget-additional-info__review-stars {
  display: flex;
  max-height: 12px;
}
.widget-additional-info__review-text {
  font-size: 15px;
  word-break: break-word;
}
.widget-additional-info__review-meta {
  position: relative;
  display: flex;
  white-space: nowrap;
  color: #979797;
  font-size: 13px;
  line-height: 20px;
}
.widget-additional-info__review-name {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
  display: inline-block;
}
.widget-rating-box {
  margin-bottom: 24px;
}
.widget-rating-box__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.widget-rating-box__rating-count {
  display: flex;
  box-sizing: border-box;
  height: 31px;
  margin-right: 6px;
  padding-top: 1px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #2e3640;
}
.widget-rating-box__reviews-count {
  padding-top: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #848c90;
}
.widget-rating-box__reviews-count-description {
  display: none;
}
.widget-rating-box__stars {
  margin-right: 6px;
  max-height: 28px;
}
.widget-rating-box__stars svg {
  width: 28px;
  height: 28px;
}

.view-integration-modal__tabs {
  margin-bottom: 23px;
}

.tabs {
  display: inline-flex;
  flex-direction: row;
  border-bottom: 1px solid #4c8bf7;
  gap: 16px;
}
.tabs_example {
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
  color: #b5b8be;
}
.tabs_example.active {
  border-bottom: 3px solid #4c8bf7;
  color: #2e3640;
}

.f5-widget-tabs {
  background: #fff;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  border-bottom: 1px solid #4c8bf7;
}
.f5-widget-page {
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #b5b8be;
  cursor: pointer;
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.f5-widget-page.active {
  border-bottom: 3px solid #4c8bf7;
  color: #4c8bf7;
}
.f5-widget-footer {
  color: #fff;
  background: #2b3538;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 32px 32px;
  gap: 16px;
  font-size: 15px;
}
.f5-widget-footer__title {
  font-size: 14px;
  opacity: .95;
  cursor: default;
}
.f5-widget-footer__info {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}
.f5-widget-footer__a {
  color: #fff;
  text-decoration: none;
  opacity: .9;
  max-height: 20px;
}
.f5-widget-footer__a:hover {
  opacity: 1;
}
